header{
	display: block;
	background-color: $secondary-color;
	border-color: $third-color;
	border-radius: 150px 150px 150px 150px;;
  	border-width: 10px 4px;
  	padding: 1% 1% 1% 1%;
	background-position:50% 50%;
	box-sizing: content-box;
	-webkit-box-shadow: 13px 13px 10px -6px $third-color;
	-moz-box-shadow: 13px 13px 10px -6px $third-color;
	box-shadow: 13px 13px 10px -6px $third-color;

	

	img{
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
		border-radius: 150px 150px 150px 150px;
		display:block;
		float: left;
		box-sizing: border-box;
		width:30%;
		height:30%;
	}
	section{
		margin: 1% 1% 1% 1%;
		padding: 1% 1% 1% 1%;

		h1{
			display: inline-flex;
			font-family: $head-font;
		}
			
	}
}