$primary-color : #2f1b41;
$secondary-color : #872341;
$third-color : #BE3144;
$fourth-color : #F05941;


$head-font: 'Pacifico', cursive;
$title-font: 'Oswald', sans-serif;
$text-font: 'Open Sans', sans-serif;
