$primary-color : #402020;
$secondary-color : #400020;
$third-color : #202020;
$fourth-color : #600020;
$black : #000000;


$head-font: 'Pacifico', cursive;
$title-font: 'Oswald', sans-serif;
$text-font: 'Open Sans', sans-serif;
